@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #0e0c38;
	--color-primary-light: #0f1240;
	--color-secondary: #040121;
	--color-accent: #07092d;
	--color-action: #ffaa00;
}

body {
	@apply text-white;
}