.navItem {
	@apply inline-block relative px-3 pt-6 pb-10 w-20 h-1 text-center rounded-b-full sm:w-20 dark:text-white;
}

.navItem::after {
	content: '';
	transition: all 0.3s;
	@apply bg-action absolute top-0 left-0 px-3 py-1 w-full h-0 text-center rounded-b-full cursor-pointer;
}

.navItem:not(.nuxt-link-active):hover::after {
	content: attr(data-label);
	@apply z-0 pt-6 pb-10 h-full text-white;
}
